<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs m-3">
  <li [ngbNavItem]="1">
    <a ngbNavLink>Page principale</a>
    <ng-template ngbNavContent>
      <!-- --------------------------------------------------------------------------- -->
      <!-- PAGE PRINCIPALE -->
      <!-- --------------------------------------------------------------------------- -->



      <ul>
        <li *ngFor="let user of users; index as i">
          {{ user.firstName + " " + user.name + " " + user.birthDate + " " + user.points}}
        </li>
      </ul>



      <!-- --------------------------------------------------------------------------- -->
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <a ngbNavLink>Tableau</a>
    <ng-template ngbNavContent>
      <!-- --------------------------------------------------------------------------- -->
      <!-- TABLEAU -->
      <!-- --------------------------------------------------------------------------- -->


      <table class="table table-striped">
        <thead>
        <tr>
          <th>entete 1</th>
          <th>entete 2</th>
          <th>entete 3</th>
          <th>entete 4</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Ligne 1 colonne 1</td>
          <td style="background-color: aqua">Ligne 1 colonne 2</td>
          <td>Ligne 1 colonne 3</td>
          <td>Ligne 1 colonne 4</td>
        </tr>
        <tr>
          <td>Ligne 2 colonne 1</td>
          <td>Ligne 2 colonne 2</td>
          <td>Ligne 2 colonne 3</td>
          <td>Ligne 2 colonne 4</td>
        </tr>
        <tr>
          <td>Ligne 3 colonne 1</td>
          <td>Ligne 3 colonne 2</td>
          <td style="background-color: coral">Ligne 3 colonne 3</td>
          <td>Ligne 3 colonne 4</td>
        </tr>
        </tbody>
      </table>


      <!-- --------------------------------------------------------------------------- -->
    </ng-template>
  </li>
  <li [ngbNavItem]="3">
    <a ngbNavLink>Icones</a>
    <ng-template ngbNavContent>
      <!-- --------------------------------------------------------------------------- -->
      <!-- ICONES -->
      <!-- --------------------------------------------------------------------------- -->


      <fa-icon style="color:gray" [icon]="faUser"></fa-icon>
      <fa-icon [icon]="faUserCircle"></fa-icon>
      <fa-icon [icon]="faCalendar"></fa-icon>
      <fa-icon [icon]="faCalendarAlt"></fa-icon>
      <fa-icon style="color:orangered" [icon]="faStar"></fa-icon>

      <!-- --------------------------------------------------------------------------- -->
    </ng-template>
  </li>
  <li [ngbNavItem]="4">
    <a ngbNavLink>Popover</a>
    <ng-template ngbNavContent>
      <!-- --------------------------------------------------------------------------- -->
      <!-- POPOVER -->
      <!-- --------------------------------------------------------------------------- -->


      <button type="button" class="btn btn-outline-primary mr-2" placement="top"
              ngbPopover="Texte ou élément" popoverTitle="Example">
        Popover en haut
      </button>

      <!-- --------------------------------------------------------------------------- -->
    </ng-template>
  </li>
  <li [ngbNavItem]="5">
    <a ngbNavLink>Card</a>
    <ng-template ngbNavContent>
      <!-- --------------------------------------------------------------------------- -->
      <!-- CARDS -->
      <!-- --------------------------------------------------------------------------- -->
      <div class="container">
        <div class="row row-cols-2 row-cols-lg-5 g-1 g-lg-2">
          <div class="col">
            <div class="card" style="width: 200px">
              <img src="https://randomuser.me/api/portraits/women/36.jpg" height="200px" width="200px" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Détails</a>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">An item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- --------------------------------------------------------------------------- -->
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="m-3"></div>
